doctype html(xmlns='http://www.w3.org/1999/xhtml', lang='en-GB', xml:lang='en-GB')
head
    link(rel='icon', href='favicon.ico')
    |     
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='stylesheets/theme.css')
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | &#x9;
    title Bee Seasonal
  body
    #background.container-fluid
      header.row
        .col-sm-2
          img(src='images/logo/bee2.png', height='55px')
        | &#x9;&#x9;
        | &#x9;&#x9;&#x9;
        .col-sm-8
          nav
            ul
              li
                a(href='/home') Home
              | &#x9;&#x9;&#x9;&#x9;&#x9;    
              li
                a(href='#') Why Seasonal?
        | &#x9;&#x9;&#x9;
        .nav_section.col-sm-2
          nav
            ul
              li
                a.btn.btn-primary(type='button', href='/') Use Produce Checker!
      | &#x9;&#x9;
      main
        .row.top_row
          #about.col-md-6
            h2 Be Seasonal
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p Choosing seasonal fruit and veg is good for the environment and good for you.
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | The Produce Checker is designed to make it easy to pick the best food for you and
              | the best food for the planet. Try it out!
          | &#x9;&#x9;&#x9;&#x9;
          #apples.col-md-6
            img(width='90%', src='images/produce/apples.jpg')
    | &#x9;
    footer.container-fluid
      nav.row
        .col-sm-12
          ul
            li
              a(href='#') Contact
            | &#x9;&#x9;&#x9;&#x9;    
            li
              a(href='#') About
