extends layout

block content

  head
      link(rel='icon', href='favicon.ico')
      link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
      link(rel='stylesheet', type='text/css', href='stylesheets/theme.css')
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Bee Seasonal
    body
      #background.container-fluid
        header.row
          .col-sm-2
            img(src='images/logo/bee2.png', height='55px')
          .col-sm-8
            nav
              ul
                li
                  a(href='/home') Home
                li
                  a(href='#') Why Seasonal?
          .nav_section.col-sm-2
            nav
              ul
                li
                  a.btn.btn-primary(type='button', href='/') Use Produce Checker!
        main
          .row.top_row
            input#previous_btn(type='image', width='70px', src='images/arrows/arrowLeft.png')
            input#next_btn(type='image', width='70px', src='images/arrows/arrowRight.png')
            h2#month_name.col-sm-8 Month
          div
            .row
              #produce_display_1.col-sm-3.produce
                img#produce_33.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_34.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_35.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_36.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_37.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_38.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_39.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_40.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_41.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_42.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_43.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_44.hidden(width='60px', src='#', alternative='Month Image')
              img#month_image.col-sm-6(width='30%', src='#', alternative='Month Image')
              #produce_display_2.col-sm-3.produce.right_produce
                img#produce_45.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_46.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_47.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_48.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_49.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_50.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_51.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_52.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_53.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_54.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_55.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_56.hidden(width='60px', src='#', alternative='Month Image')
            .row
              #produce_display_3.col-sm-12
                img#produce_1.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_2.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_3.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_4.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_5.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_6.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_7.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_8.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_9.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_10.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_11.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_12.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_13.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_14.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_15.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_16.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_17.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_18.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_19.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_20.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_21.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_22.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_23.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_24.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_25.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_26.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_27.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_28.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_29.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_30.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_31.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_32.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_57.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_58.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_59.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_60.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_61.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_62.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_63.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_64.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_65.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_66.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_67.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_68.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_69.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_70.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_71.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_72.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_73.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_74.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_75.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_76.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_77.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_78.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_79.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_80.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_81.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_82.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_83.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_84.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_85.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_86.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_87.hidden(width='60px', src='#', alternative='Month Image')
                img#produce_88.hidden(width='60px', src='#', alternative='Month Image')
      footer.container-fluid
        nav.row
          .col-sm-12
            ul
              li
                a(href='/produce_list') Produce List 
              li
                a(href='/produce_admin') Admin
            li
              a(href='/months_list') Months
      // This 'modal' is implemented using the bootstrap framework and is referenced in scriptfile.js
      #produce_modal.modal.fade(tabindex='-1')
        .modal-dialog
          .modal-content
            .modal-body
              h3#modal_name
              h4#description
              img#fruit_image(src='#', width='100px')
          // /.modal-content
        // /.modal-dialog
      // /.modal
