doctype html(xmlns='http://www.w3.org/1999/xhtml', lang='en-GB', xml:lang='en-GB')
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/theme.css')
  body
    block content
    script(type='text/javascript', src='/jquery/jquery_v1.11.2.js')
    script(type='text/javascript', src='/javascripts/scriptfile.js')
    script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')