doctype html(xmlns='http://www.w3.org/1999/xhtml', lang='en-GB', xml:lang='en-GB')
head
    title Produce Manager
    link(rel='stylesheet','type=text/css', href='stylesheets/theme.css')
body
    header
        h1 Produce Manager

    form(method="post", action="http://loalhost")
        input(type="text", name="name")
        input(type="text", name="description")
        input(type="submit", value="Add Item")

    footer
        p This is the footer

